*{
    padding: 0;
    margin: 0;
}
a{
    color: #333;
    text-decoration: none;
}
li{
    list-style: none;
}
/*  头部导航条 */
header{
    width: 100%;
}
.top{
    margin: auto;
    width: 1200px;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.top img{
    width: 200px;
}
.search{
    height: 50px;
    margin-left: 320px;
}
input{
    border:none;
    outline:none;
    height: 100%;
    width: 450px;
    border: 1px solid rgb(136, 136, 136);;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
}
.top button{
    width: 80px;
    height: 52px;
    background-color: #fff;
    color: #767676;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 0 5px 5px 0;
    border-left:none ;
    font-size: 13px;
    vertical-align: top;
}
/* nav */
header>nav{
    box-shadow: 0 9px 12px rgb(179, 179, 179);
    padding: 25px 0;
}
header>nav>ul{
    display: flex;
    width: 1200px;
    margin: auto;
}
nav ul>li{
    margin-left: 25px;
    padding: 0 20px;
}
nav li a{
    color: #000;
    font-weight: 600;
}
.a-bottom{
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}
.fix{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.login{
    display: none;
}