/* 导航条 */
.navlist{
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
}
.navlist li a{
    color: #a09e9e;
    font-weight: 600;
}

/*  轮播图 */
.swiper{
    width: 1200px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
ul{
    display: flex;
    position: absolute;
}

.swiper span{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba( 255, 192, 203,.4 );
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
/* 圆点 */
.circle{
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -175px;
}
.circle li{
    width: 60px;
    margin: 0 5px;
    border: 1px solid rgb(224, 222, 222);
}
.current{
    background-color: rgba( 255, 192, 203,.4 );
}

/* 商品列表 */
.shopList{
    width: 1200px;
    margin:30px auto 0;
    border: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.listitem{
    width: 200px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.title{
    padding: 5px;
    font-weight: 600;

}
.title p{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.listitem .list-img,.list-img img{
    width: 100%;
}

.text{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* 返回顶部 */
.back{
    width: 100px;
    height: 100px;
    background-color: rgba( 255, 192, 203,.4 );
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
    color: #fff;
    text-align: center;
    line-height: 100px;
}