<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <header>
        <div class="top">
            <div class="logo">
                <img src="../asses/images/logo.png" alt="">
            </div>
            <div class="search">
                <input type="text" name="" id="" placeholder="请输入想要的商品"><button>搜索</button>
            </div>
        </div>
        <nav>
            <ul class="nologin">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./login.html">登录</a></li>
                <li><a href="./register.html">注册</a></li>
            </ul>
            <ul class="login">
                <li><a href="./index.html">首页</a></li>
                <li><a href="">购物车</a></li>
                <li class="exit"><a href="#">退出登录</a></li>
            </ul>
        </nav>
    </header>

    <form action="">
        <input type="text" name="" id="user" placeholder="用户名"><span class="u"></span>
        <input type="text" name="" id="pwd" placeholder="密码"><span class="p"></span>
        <input type="button" value="登录" class="button">
    </form>
</body>
<!-- <script src="../js/animation.js"></script> -->
<script src="../js/request.js"></script>
<script src="../js/login.js"></script>
<script>
    var user = document.querySelector('#user');
    var pwd = document.querySelector('#pwd');
    var uspan = document.querySelector('.u');
    var pspan = document.querySelector('.p');
    var btn = document.querySelector('.button');
    var res = /^[a-zA-Z0-9_-]{4,16}$/;
    var mi = /^(?!^[0-9]+$)(?!^[a-zA-Z]+$)[0-9a-zA-Z_]{6,16}$/;
    var username;
    var password;
    var isActive;
    var isPass;
    var flag=1;
    // 判断输入的值是否符合正则验证
    user.oninput = function (e) {
        username = this.value;
        if (res.test(username)) {
            username = this.value;
            uspan.innerHTML = "用户名可用";
            uspan.style.color = "green";
            isActive = true;
        } else {
            uspan.innerHTML = "用户名格式不对";
            uspan.style.color = "red";
            isActive = false;

        }
    }
    pwd.oninput = function (e) {
        password = this.value;
        if (mi.test(password)) {
            password = this.value;
            pspan.innerHTML = "密码可用";
            pspan.style.color = "green";
            isPass = true;
        } else {
            pspan.innerHTML = "不能是纯数字或者纯字母，不能包含特殊字符，密码长度在6~16位之间";
            pspan.style.color = "red";
            isPass = false;

        }
    }

    // 点击跳转
    btn.onclick = function () {
        // 判断两个条件都对
        if (!(isActive && isPass)) {
            return;
        }
        // 调用api
        REQUEST.get('/login', {
            params: {
                username: username,
                password: password
            }
        }, function (data) {
            console.log(data);
            // success
            // var token = data.token;
            localStorage.setItem('token', data.code);
            // setTimeout(function () {
                location.href = './index.html'
            // }, 1000)
            // 登录后才可以用  将token 传入本地中
        })
        // token();
    }
</script>


<script>

    function token() {
        var tokens = localStorage.getItem('token');
        var login=document.querySelector('.login');
        var nologin=document.querySelector('.nologin');
        console.log(tokens);
        if(tokens){
            // login
            login.style.display='block';
            nologin.style.display='none';
        }else{
            login.style.display='none';
            nologin.style.display='block';
        }
    }
</script>

</html>